In [ ]:
#List of High Schools
high_schools = ['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']

for schools in high_schools:
    print(schools)

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school_type in high_school_types:
    print(school_type)

In [ ]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", 
                "Bailey High School", "Holden High School", "Pena High School", "Wright High School", 
                "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [ ]:

#Add the pandas dependency
import pandas as pd

In [ ]:


#Create a Panada Sereies from a list
school_series = pd.Series(high_schools)
school_series

In [ ]:
for all_schools in school_series:
    print(all_schools)

In [ ]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
#Three seperate lists of information on high schools
school_id = [0, 1, 2, 3, 4]


school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
#Initialize a new empty dataframe
schools_df = pd.DataFrame()

#Add the list to a new dataframe
schools_df['School ID'] = school_id

#Print the dataframe
schools_df

In [ ]:
#School name added to dataframe
schools_df['School Name'] = school_name

#Type of school added to the dataframe
schools_df['Type'] = type_of_school

schools_df

In [ ]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [ ]:
schools_df = pd.DataFrame.from_dict(high_schools_dict)
schools_df

In [ ]:
school_df.columns

In [ ]:
school_df.index

In [ ]:
school_df.values

In [ ]:
#list of school IDs
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

#list of school names
school_name = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", 
                "Bailey High School", "Holden High School", "Pena High School", "Wright High School", 
                "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
#list of school type
### The district types are not aligned properly, these were added to troubleshoot array error.  I discovered that
### that the issue was that when I originally designed school_type I only had 2 items in the list (District and Charter)
school_type = ['District', 'Charter','District', 'Charter', 'District', 'Charter','District', 'Charter',
              'District', 'Charter','District', 'Charter','District', 'Charter', 'District']

#Make new school dictionary
school_dict = {'School ID': school_id, 'School Name': school_name, 'School Type': school_type}
school_dict

In [ ]:
schools_df = pd.DataFrame.from_dict(school_dict)
schools_df

In [ ]:
#School Analysis pseudocode

#